{{title}}
|===
|에러 코드|HTTP Status 이름|HTTP Status 값|메시지

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{status}}{{/tableCellContent}}
|{{#tableCellContent}}{{message}}{{/tableCellContent}}
{{/fields}}

|===
